			<p class="odd-numbers">实付金额： <em><%=Util.formatCurrency(orderObj.allprice)%></em></p>
			<p class="odd-numbers">修改后金额: <em newModifyPrice='<%=Number(orderObj.allprice)+Number(orderObj.changePrice)-Number(orderObj.sendPrice)%>'><%=Util.formatCurrency(Number(orderObj.allprice)+Number(orderObj.changePrice)-Number(orderObj.sendPrice))%></em></p>
			<p class="odd-numbers" style="display: none;">修改后差异金额: <em><%=Util.formatCurrency(orderObj.changePrice)%></em></p>