	
		<!--代码部分begin-->
		<div id="menu">
			<!--tag标题-->
			<ul id="nav">
				<li>
					<a href="#waitRec" class="selected">优惠券兑换</a>
				</li>
				<li>
					<a href="#goStoreExtract" class="">待定</a>
				</li>
			</ul>
			<div class="clearfix"></div>
			<!--二级菜单-->
			<div id="wrapper">
			<div id="scroller">
			<div id="otherArea">
			<div id="menu_con" class="cinall">
								<!--第一个tag开始-->
								<div class="tag" style="display:block">
									<div class="bounce-conthr agin-modify swedeet">
											<p class="payreed">
												<input type="text" placeholder="请输入优惠码" class="redeem" />
												<input type="button" value="确认" class="confirm" id="coupon_confirm"/>
											</p>
											<p class="payreed payreed-new" style="display: none">
												<input type="text" placeholder="请输入国际码" class="redeem" id="yhmnum"/>
												<input type="button" value="确认" class="confirm" id="coupon_confirmnew"/>
											</p>
									</div>
									<div class="big-form" style="display: none">
										<div class="form-open">
											<div class="form-open2">
												<!--表格开始-->
												<table cellspacing="0" cellpadding="0" class="matter_info">
													<tbody>
														<tr class="matter_info_header">
															<th class="internationa">国际码</th>
															<th class="name">名称</th>
															<th>单价</th>
															<th>数量</th>
															<th>折扣</th>
															<th>金额</th>
															<th>优惠</th>
														</tr>
														<!--<tr class="matter_info_cont">
															<td class="internationa">01010041</td>
															<td class="name">番茄蛋包饭饭团</td>
															<td>3.80</td>
															<td>6</td>
															<td></td>
															<td>22.80</td>
															<td>0.00</td>
														</tr>-->
													</tbody>
												</table>
											</div>
										</div>

										<div class="form-open fright form-open-right">
											<div class="form-open3">
												<!--表格开始-->
												<table cellspacing="0" cellpadding="0" class="matter_info">
													<tbody>
														<tr class="matter_info_header header_cint">
															<th>扫码</th>
															<th>数量</th>
														</tr>
														<!--<tr class="matter_info_cont header_cint">
															<td>待扫码</td>
															<td class="num">
																<div class="product_calculate">
																	<div class="product_del proshow"><span></span></div>
																	<div class="product_num"><span>1</span></div>
																	<div class="product_add proshow"><span></span></div>
																</div>
															</td>
														</tr>-->
													</tbody>
												</table>
											</div>
										</div>
									</div>
										<div class="original-con" style="display: none;">
											<div class="original-con-left fleft">
												<p class="odd-numbers">原始订单金额： <em>0.00</em></p>
												<p class="odd-numbers">优惠金额: <em>0.00</em></p>
												<p class="odd-numbers">运费: <em>0.00</em></p>
												<p class="odd-numbers">实付金额: <em>0.00</em></p>
											</div>
										</div>
										<div class="conbtn" style="display:none">
											<input type="button" value="确定" class="such such-col">
											<input type="button" value="取消" class="change chang-col">

										</div>
									
								</div>
								
								<!--第一个tag结束-->

								<!--	第二个tag开始-->
								<div class="tag" style="display:none">
									待定
								</div>
								<!--第二个Tag结束-->
			</div>
			</div>
			
			</div>
			</div>
		</div>
		<!--内容结束-->
