
							<div class="big-form modify-form">
								<div class="form-open modify-form-open">
									<!--表格开始-->
									<table cellspacing="0" cellpadding="0" class="matter_info">
										<tbody>
											<tr class="matter_info_header">
												<th>国际码</th>
												<th class="name">名称</th>
												<th>单价</th>
												<th class="num">数量</th>
												<th>折扣</th>
												<th>优惠金额</th>
												<th>实付金额</th>
											</tr>
											
											<tr class="matter_info_cont">
												<td>01010041</td>
												<td class="name">番茄蛋包饭饭团</td>
												<td>3.80</td>
												<td class="num">6</td>
												<td></td>
												<td>22.80</td>
												<td>22.80</td>
											</tr>
											<tr class="matter_info_cont">
												<td>01010041</td>
												<td class="name">塑料袋（小）</td>
												<td>3.80</td>
												<td class="num">6</td>
												<td></td>
												<td>22.80</td>
												<td>22.80</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="original-con">
								<div class="original-con-left fleft">
										<p class="odd-numbers">数量合计： <em></em></p>
										<p class="odd-numbers">金额合计: <em>0.00</p>
										<p class="odd-numbers">实付金额: <em></em></p>
								</div>
							</div>

							<div class="payment">
								<input type="button" value="付款" class="payment-order" />
							</div>